[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
motor = "*"
codecov = "*"
"discord.py" = {file = "https://github.com/Rapptz/discord.py/archive/rewrite.zip#egg=discord.py", extras = ["voice"]}
pytest-cov = "*"
pytest-runner = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
"e1839a8" = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7.1"
