[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
motor = "*"
discord-py = {editable = true,extras = ["voice"],git = "https://github.com/Rapptz/discord.py.git",ref = "rewrite"}

[dev-packages]
Sphinx = "*"
sphinx_rtd_theme = "*"
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"
codecov = "*"
erin = {editable = true,path = "."}

[requires]
python_version = "3.7.1"

[pipenv]
allow_prereleases = true