-i https://pypi.python.org/simple
-e .
alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
babel==2.6.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
codecov==2.0.15
coverage==4.5.1
docutils==0.14
https://github.com/Rapptz/discord.py/archive/rewrite.zip#egg=discord.py[voice] -i https://pypi.python.org/simple
idna==2.7
imagesize==1.1.0
jinja2==2.10
markupsafe==1.1.0
more-itertools==4.3.0
motor==2.0.0
packaging==18.0
pluggy==0.8.0
py==1.7.0
pycparser==2.19
pygments==2.2.0
pymongo==3.7.2
pynacl==1.0.1
pyparsing==2.3.0
pytest-cov==2.5.1
pytest-runner==4.0
pytest==3.10.0
pytz==2018.7
requests==2.20.1
six==1.11.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.2.4
sphinx==1.7.0
sphinxcontrib-websupport==1.1.0
toml==0.10.0
urllib3==1.24.1
