toml
motor
coloredlogs
codecov==2.0.15
https://github.com/Rapptz/discord.py/archive/rewrite.zip#egg=discord.py[voice]
PyNaCl==1.0.1
pytest-cov==2.5.1
pytest-runner==4.0
Sphinx==1.7.0
sphinx-rtd-theme==0.2.4
